* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

:root {
  font-size: 62.5%;
  --zoom-in: 1.8; 
}

.card-box{
  width:300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 8px;
transform: scale(1);
transition: all .5s;
object-fit: cover;
cursor: pointer;
}



.zoom{
transform: scale(var(--zoom-in));
z-index: 2;
}

nav{
  position: fixed;
  background-color: #45c14e;
  min-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
}
a{
  display: flex;
  gap: 10px;
  text-decoration: none;
  
}
body {
  font-size: 1.6rem;
  background-color: #fcfcfc;
padding: 80px 20px 0 20px;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}
h1{
  color: white;
  text-align: center;
width: fit-content;
height: fit-content;
}
main{
  background-color: #dff8eb;
  width: fit-content;
  height: fit-content;
gap: 50px;
border-radius: 8px ;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 80px 10px 80px 10px;
position: relative;
}
.icon{
  width: 20px;
}


footer{
  background-color: #001416;
 /* min-width: 100%; */
position: absolute;
bottom: -100px;
left: 0;
right: 0;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
footer div.grasshopper{
  display: flex;
gap: 100px;   

   
}
footer .hero{
  width: 100px;
padding-block: 10px;
  height: auto;
}
.scroll-container {
  overflow: overlay;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:#32f396;
  border-radius: 5px;
}
html{
  overflow-x: hidden;
}
@media(max-width: 800px){
  footer{
    display:flex;
    flex-direction: column;
  }
  footer .logo{
    padding-top: 10px;
  }
footer div.grasshopper{
  display: flex;
  gap: 50px;
}
}