* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: black;
padding: 80px 80px 80px 80px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
  color: white;
  text-align: center;
  padding-bottom: 50px;
}
main{
  background-color: gray;
  width: fit-content;
  height: fit-content;
gap: 50px;
border-radius: 8px ;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 10px 10px 10px 10px;
}
img{
  width:300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 8px;

}
@media (max-width:1024px){
  body{
    padding: 10px;
  }
 main{
  padding: 10px 0 10px 0;
 }
}